<head>
  <meta charset="UTF-8" />
  <title>Node.js Course | <%= title %></title>
  <link rel="preconnect" href="https://fonts.gstatic.com" />
  <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet" />
  <link rel="stylesheet" href="/styles/main.css" />
  <script nonce="randomNonceValue" src="https://kit.fontawesome.com/02f4dcc80b.js" crossorigin="anonymous"></script>
</head>
